<div class="site_subpage_content  n-space-top n-space-bottom">
  <h1 class="page_title small">{{product.name}}</h1>

  <!-- product gallery start -->
  <!-- POPUP IMAGES -->
  <div class="product_detail_img_popup">
    <div class="bgr event_close_img_popup"></div>
    <div class="window">
      <div class="container fluid">
        <div class="row va-top a-center stretch">
          <div class="col-xs-12 col-xl-8 image">
            <button class="close fa_b_times event_close_img_popup"></button>
            <button class="prev fa_b_caret-left"></button>
            <button class="next fa_b_caret-right"></button>
            <div class="data">
              <img src="{{product.imgBig1File}}" alt="{{product.name}}" />
            </div>
          </div>
          <div class="col-xs-12 col-xl-4 sidebar">
            <h1 class="title">{{product.name}}</h1>
            <p class="desc" [innerHtml]="(product.descriptionTabs || '')">
            </p>
            <div class="price_store">
              <div class="price">
                <div class="primary"><strong>{{product.priceVat | number:'1.2-2'}}</strong> Kč/ks</div>
                <div class="secondary">{{product.price | number:'1.2-2'}} Kč bez DPH</div>
              </div>
              <div class="store" [ngClass]="{positive: product.inStock, negative: !product.inStock}">
                {{product.availability}}
              </div>
            </div>
            <div class="images">
              <div class="item active">
                <img src="{{product.imgBig1File}}" [attr.data-full-src]="product.imgBig1File" alt="{{product.name}}" />
              </div>
              <div class="item">
                <img src="{{product.imgBig2File}}" [attr.data-full-src]="product.imgBig2File" alt="{{product.name}}" />
              </div>
              <div class="item">
                <img src="{{product.imgBig3File}}" [attr.data-full-src]="product.imgBig3File" alt="{{product.name}}" />
              </div>
              <div class="item">
                <img src="{{product.imgBig4File}}" [attr.data-full-src]="product.imgBig4File" alt="{{product.name}}" />
              </div>
              <div class="item">
                <img src="/examples/product_image_full_test_1.jpg" data-full-src="/examples/product_image_full_test_1_full.jpg" alt="" />
              </div>
              <div class="item">
                <img src="/examples/product_image_full_test_2.jpg" data-full-src="/examples/product_image_full_test_2_full.jpg" alt="" />
              </div>
              <div class="item">
                <img src="/examples/product_image_full_test_3.jpg" data-full-src="/examples/product_image_full_test_3_full.jpg" alt="" />
              </div>
              <div class="item">
                <img src="//placekitten.com/200/200" data-full-src="//placekitten.com/800/800" alt="" />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- product gallery stop -->

  <div class="product_detail">
    <!-- PRODUCT DETAIL HEADER -->
    <div class="container fluid header nospace">
      <div class="row va-top a-center">
        <!-- PRODUCT IMAGES -->
        <div class="col-xs-12 col-lg-6 images">
          <div class="product_image_main">
            <!-- first image (also as fallback for non-javascript) -->
            <!-- href, src and "nth" gets replaced by javascript -->
            <a class="event_open_img_popup" data-image-nth="1" href="javascript:void(0);"> <!--{{product.imgMediumFile}}-->
              <img src="{{product.imgMediumFile}}" alt="{{product.name}}" class="main_image" />
              <img src="{{product.imgBig1File}}" alt="{{product.name}}" class="zoom_image" />
            </a>
          </div>
          <!--<script src="/tools/js/jquery/ui/ui.product.img.zoom.js" async></script>-->
          <div class="product_image_list">
            <a class="arrow left fa_b_caret-left"></a>
            <a class="arrow right fa_b_caret-right"></a>
            <div class="content" carousel>
              <!-- ALL IMAGES -->
              <div class="active" data-nth-child="1">
                <img src="{{product.imgSmall1File}}" [attr.data-main-src]="product.imgBig1File" [attr.data-full-src]="product.imgBig1File" alt="{{product.name}}" />
                <!--<img src="/images/example/126.688.60.0_4_S.jpg" data-main-src="/images/example/126.688.60.0_4_M.jpg" data-full-src="/images/example/126.688.60.0_4_B.jpg" alt="" />-->
              </div>
              <div data-nth-child="2">
                <img src="{{product.imgSmall2File}}" [attr.data-main-src]="product.imgBig2File" [attr.data-full-src]="product.imgBig2File" alt="{{product.name}}" />
              </div>
              <div data-nth-child="3">
                <img src="{{product.imgSmall3File}}" [attr.data-main-src]="product.imgBig3File" [attr.data-full-src]="product.imgBig3File" alt="{{product.name}}" />
              </div>
              <div data-nth-child="4">
                <img src="{{product.imgSmall4File}}" [attr.data-main-src]="product.imgBig4File" [attr.data-full-src]="product.imgBig4File" alt="{{product.name}}" />
              </div>
              <div data-nth-child="5">
                <img src="/images/example/126.688.60.0_4_S.jpg" data-main-src="/images/example/126.688.60.0_4_M.jpg" data-full-src="/images/example/126.688.60.0_4_B.jpg" alt="" />
              </div>
              <div data-nth-child="6">
                <img src="/images/example/126.688.60.0_5_S.jpg" data-main-src="/images/example/126.688.60.0_5_M.jpg" data-full-src="/images/example/126.688.60.0_5_B.jpg" alt="" />
              </div>
              <div data-nth-child="7">
                <img src="/images/example/126.688.60.0_6_S.jpg" data-main-src="/images/example/126.688.60.0_6_M.jpg" data-full-src="/images/example/126.688.60.0_6_B.jpg" alt="" />
              </div>
              <div data-nth-child="8">
                <img src="/images/example/126.688.60.0_3_S.jpg" data-main-src="/images/example/126.688.60.0_3_M.jpg" data-full-src="/images/example/126.688.60.0_3_B.jpg" alt="" />
              </div>
              <!-- ALL IMAGES END -->
            </div>
          </div>
          <!--<script>
            $(document).ready(function(){
              $('.product_image_list .content').slick({
                slidesToShow: 5,
                slidesToScroll: 1,
                dots: false,
                arrows: true,
                prevArrow: $('.product_image_list .arrow.left'),
                nextArrow: $('.product_image_list .arrow.right'),
                autoplay: false,
                autoplaySpeed: 5500,
                responsive: [
                  {
                    breakpoint: 1300,
                    settings: {
                      slidesToShow: 3,
                      slidesToScroll: 1,
                    }
                  },
                  {
                    breakpoint: 991,
                    settings: {
                      slidesToShow: 6,
                      slidesToScroll: 1,
                    }
                  },
                  {
                    breakpoint: 767,
                    settings: {
                      slidesToShow: 5,
                      slidesToScroll: 1
                    }
                  },
                  {
                    breakpoint: 500,
                    settings: {
                      slidesToShow: 3,
                      slidesToScroll: 1
                    }
                  }
                ]
              });

            });
          </script>-->
        </div>
        <!-- PRODUCT HEADLINE TEXT, PRICE, BUY -->
        <div class="col-xs-12 col-lg-6 texts">
          <p class="description">
            {{product.name2}}
          </p>
          <!-- //// -->
          <form class="price_buy">
            <div class="price">
              <div class="primary"><span>{{product.priceVat | number:'1.2-2'}}</span> Kč/ks</div>
              <div class="secondary">{{product.price | number:'1.2-2'}} Kč bez DPH</div>
            </div>
            <div class="buy">
              <div class="ui_input_number">
                <input type="text" [(ngModel)]="amount" name="amount" id="amountX" />
                <button type="button" class="minus" (click)="minus()">-</button>
                <button type="button" class="plus" (click)="plus()">+</button>
              </div>
              <button type="submit">
                Do košíku
              </button>
            </div>
          </form>
          <!-- //// -->
          <div class="store_code">
            <div class="store" [ngClass]="{positive: product.inStock, negative: !product.inStock}">
              {{product.availability}}
            </div>
            <div class="code">
              Kód:
              <strong>{{product.code}}</strong>
            </div>
          </div>
          <!-- //// -->
          <div class="downloads_list simple">
            <div class="item">
              <div class="icon">
                <div>
                  <img src="/images/theme/files/file_pdf.png" alt="Soubor .pdf" />
                </div>
              </div>
              <h2 class="filename">
                <a href="/files/dl-{{product.id}}.pdf" onclick="window.open(this.href); return false">Produktový list</a>
              </h2>
            </div>
          </div>
          <!-- //// -->
          <div class="print">
            <a [routerLink]="['/']">Tisknout</a>
          </div>
          <div class="mcled_asist">
            <a [routerLink]="['/']">McLED Asist</a>
          </div>
        </div>
      </div>
    </div>
    <!-- PRODUCT DETAIL FOOTER -->
    <div class="footer">
      <!-- TABS -->
      <div class="ui_tabs make_tabs">
        <ul class="ui-tabs-nav ui-corner-all ui-helper-reset ui-helper-clearfix ui-widget-header">
          <li class="ui-tabs-tab ui-state-default ui-tab ui-corner-top" [ngClass]="{'ui-state-active ui-tabs-active': tabsState==1, 'ui-state-hover': tabsStateHover==1}"
              on-mouseenter="setHover(1)" on-mouseleave="setHover(0)">
            <a href="javascript:void(0);"  class="ui-tabs-anchor" (click)="setTabState(1)">Parametry</a>
          </li>
          <li class="ui-tabs-tab ui-state-default ui-tab ui-corner-top" [ngClass]="{'ui-state-active ui-tabs-active': tabsState==2, 'ui-state-hover': tabsStateHover==2}"
              on-mouseenter="setHover(2)" on-mouseleave="setHover(0)">
            <a href="javascript:void(0);" class="ui-tabs-anchor" (click)="setTabState(2)">Detailní popis</a>
          </li>
          <li class="ui-tabs-tab ui-state-default ui-tab ui-corner-top" [ngClass]="{'ui-state-active ui-tabs-active': tabsState==3, 'ui-state-hover': tabsStateHover==3}"
              on-mouseenter="setHover(3)" on-mouseleave="setHover(0)">
            <a href="javascript:void(0);" class="ui-tabs-anchor" (click)="setTabState(3)">Ke stažení</a>
          </li>
          <li class="ui-tabs-tab ui-state-default ui-tab ui-corner-top" [ngClass]="{'ui-state-active ui-tabs-active': tabsState==4, 'ui-state-hover': tabsStateHover==4}"
              on-mouseenter="setHover(4)" on-mouseleave="setHover(0)">
            <a href="javascript:void(0);" class="ui-tabs-anchor" (click)="setTabState(4)">Foto</a>
          </li>
          <li class="ui-tabs-tab ui-state-default ui-tab ui-corner-top" [ngClass]="{'ui-state-active ui-tabs-active': tabsState==5, 'ui-state-hover': tabsStateHover==5}"
              on-mouseenter="setHover(5)" on-mouseleave="setHover(0)">
            <a href="javascript:void(0);" class="ui-tabs-anchor" (click)="setTabState(5)">Video</a>
          </li>
        </ul>
        <!-- //// -->
        <div id="tabs-1" *ngIf="tabsState===1" class="ui-tabs-panel ui-corner-bottom ui-widget-content">
          <div class="container fluid nospace">
            <div class="row a-center va-top">
              <div class="col-xs-12 col-xl-4" *ngFor="let prop of product.properties">
                <p>
                  <span *ngFor="let item of prop.items">{{item.paramName}}: <strong>{{item.val}}&nbsp;{{item.oddVal2}}&nbsp;{{item.val2}}</strong><br /></span>
                </p>
              </div>
            </div>
          </div>
        </div>
        <!-- //// -->
        <div id="tabs-2" *ngIf="tabsState===2" class="ui-tabs-panel ui-corner-bottom ui-widget-content" [innerHtml]="(product.descriptionTabs || '')"></div>
        <!-- //// -->
        <div id="tabs-3" *ngIf="tabsState===3" class="ui-tabs-panel ui-corner-bottom ui-widget-content">
          <attachments [id]="product.id" [type]="'document_product_eshop'" [tableName]="'PRODUKTY'"></attachments>
        </div>
        <!-- //// -->
        <div id="tabs-4" *ngIf="tabsState===4" class="ui-tabs-panel ui-corner-bottom ui-widget-content">
          Foto
        </div>
        <!-- //// -->
        <div id="tabs-5" *ngIf="tabsState===5" class="ui-tabs-panel ui-corner-bottom ui-widget-content">
          Video
        </div>
      </div>
    </div>
    <!-- //// -->
    <similar-products [id]="product.id" [count]="4"></similar-products>
  </div>
</div>
