<div class="prefers" *ngIf="item.news">
  <div class="state_1">Novinka</div>
</div>
<div class="prefers" *ngIf="item.action">
  <div class="state_2">Akce</div>
</div>
<a [routerLink]="[item.redirect]" class="image">
  <div>
    <img src="{{item.imgMediumFile}}" alt="{{item.name}}" />
  </div>
</a>
<h3 class="title">
  <a [routerLink]="[item.redirect]">
    {{item.name}}
  </a>
</h3>
<div class="price">
  <div class="primary">
    {{item.priceVat | number:'1.2-2'}} Kč/ks
  </div>
  <div class="secondary">
    {{item.price | number:'1.2-2'}} Kč bez DPH
  </div>
  <div class="store" [ngClass]="{positive: item.inStock, 'fa_b_check': item.inStock, negativ: !item.inStock, 'fa_b_time': !item.inStock}">
    {{item.availability}}
  </div>
</div>
<a href="javascript:void(0);" class="buy" (click)="buy()"></a>
