<div class="site_homepage">
    <div class="row">
        <div class="col-12">
            <h2 class="articles_title"><span>Aktuální články</span></h2>
        </div>
    </div>
    <br />
    <div class="row stretch">
        <div class="col-xs-12 col-md-6 col-xl-3 article_item">
            <h3>
                <a [routerLink]="['/']">Lorem ipsum dolor sit</a>
            </h3>
            <p>
                Podzim i zima přináší do našich bytů i domů méně světla, proto přichází na řadu umělé osvětlení.
                Hledáte něco, co nahradí přírodní světlo a váš domov bude dokonale osvětlený?
                LED osvětlení je perfektním řešením, jak zútulnit místnosti...
                <a [routerLink]="['/']" class="more fa_a_angle-double-right ">
                    Více
                </a>
            </p>
        </div>
        <div class="col-xs-12 col-md-6 col-xl-3 article_item">
            <h3>
                <a [routerLink]="['/']">Lorem ipsum dolor sit ipsum dolor sit</a>
            </h3>
            <p>
                Podzim i zima přináší do našich bytů i domů méně světla, proto přichází na řadu umělé osvětlení.
                Hledáte něco, co nahradí přírodní světlo a váš domov bude dokonale osvětlený?
                LED osvětlení...
                <a [routerLink]="['/']" class="more fa_a_angle-double-right ">
                    Více
                </a>
            </p>
        </div>
        <div class="col-xs-12 col-md-6 col-xl-3 article_item">
            <h3>
                <a [routerLink]="['/']">Lorem ipsum</a>
            </h3>
            <p>
                Podzim i zima přináší do našich bytů i domů méně světla, proto přichází na řadu umělé osvětlení.
                Hledáte něco, co nahradí přírodní světlo a váš domov bude dokonale osvětlený?
                LED osvětlení je perfektním řešením...
                <a [routerLink]="['/']" class="more fa_a_angle-double-right ">
                    Více
                </a>
            </p>
        </div>
        <div class="col-xs-12 col-md-6 col-xl-3 article_item">
            <h3>
                <a [routerLink]="['/']">Lorem ipsum dolor sit</a>
            </h3>
            <p>
                Podzim i zima přináší do našich bytů i domů méně světla, proto přichází na řadu umělé osvětlení.
                Hledáte něco, co nahradí přírodní světlo a váš domov bude dokonale osvětlený?
                LED osvětlení je perfektním řešením, jak zútulnit místnosti...
                <a [routerLink]="['/']" class="more fa_a_angle-double-right ">
                    Více
                </a>
            </p>
        </div>
    </div>
</div>
