<div class="site_homepage">
    <div class="row stretch">
        <div class="col-xs-12 col-xl-9">
            <!-- PRODUCT LIST -->
            <div class="products_list">
                <div class="row stretch">
                    <div class="col-xs-12 col-md-4 item">
                        <div class="prefers">
                            <div class="state_1">Novinka</div>
                        </div>
                        <a [routerLink]="['/zaznam']" class="image">
                            <div>
                                <img src="/images/example/120.001.61_0_L.jpg" alt="" />
                            </div>
                        </a>
                        <h3 class="title">
                            <a [routerLink]="['/zaznam']">
                                LED žárovka 10W, E27, 2700K, CRI 80, vyzař. úhel 270, sv. tok 840lm
                            </a>
                        </h3>
                        <div class="price">
                            <div class="primary">
                                1 999 Kč/ks
                            </div>
                            <div class="secondary">
                                1 899 Kč bez DPH
                            </div>
                            <div class="store positive fa_b_check">
                                Skladem
                            </div>
                        </div>
                        <a [routerLink]="['/kosik']" class="buy"></a>
                    </div>
                    <div class="col-xs-12 col-md-4 item">
                        <div class="prefers">
                            <div class="state_2">Akce</div>
                        </div>
                        <a [routerLink]="['/zaznam']" class="image">
                            <div>
                                <img src="/images/example/121.183.10_0_L.jpg" alt="" />
                            </div>
                        </a>
                        <h3 class="title">
                            <a [routerLink]="['/zaznam']">
                                LED žárovka 10W, E27, 2700K, CRI 80, vyzař. úhel 270, sv. tok 840lm
                            </a>
                        </h3>
                        <div class="price">
                            <div class="primary">
                                19 999 Kč/ks
                            </div>
                            <div class="secondary">
                                19 899 Kč bez DPH
                            </div>
                            <div class="store negative fa_b_times">
                                Na dotaz
                            </div>
                        </div>
                        <a [routerLink]="['/kosik']" class="buy"></a>

                    </div>
                    <div class="col-xs-12 col-md-4 item">

                        <a [routerLink]="['/zaznam']" class="image">
                            <div>
                                <img src="/images/example/121.255.10_0_L.jpg" alt="" />
                            </div>
                        </a>
                        <h3 class="title">
                            <a [routerLink]="['/zaznam']">
                                LED žárovka 10W, E27, 2700K, CRI 80, vyzař. úhel 270, sv. tok 840lm
                            </a>
                        </h3>
                        <div class="price">
                            <div class="primary">
                                19 999 Kč/ks
                            </div>
                            <div class="secondary">
                                19 899 Kč bez DPH
                            </div>
                            <div class="store negative fa_b_times">
                                Na dotaz
                            </div>
                        </div>
                        <a [routerLink]="['/kosik']" class="buy"></a>

                    </div>
                </div>
            </div>
            <!-- PRODUCT LIST END -->
        </div>
        <a [routerLink]="['/']" class="col-xs-12 col-xl-3 advert_box">
            <div class="inside">
                <h2>
                    Akce na žárovky
                </h2>
                <div class="amount">20%</div>
                <div class="more">Zobrazit nabídku</div>
            </div>
        </a>
    </div>
    <br />
</div>
