<div class="site_subpage_content n-space-bottom">
    <hr />
    <div class="container fluid nospace">
        <div class="row">
            <div class="col-xs-12 col-md-7 col-xl-9">
                <div class="downloads_list">
                    <div class="item">
                        <div class="icon">
                            <div>
                                <img src="/images/theme/files/file_pdf.png" alt="Soubor formátu PDF" />
                            </div>
                        </div>
                        <a href="/examples/cenik_led_zarovky_cervenec_2016.pdf" class="download fa_a_download">Stáhnout</a>
                        <h2 class="filename">
                            Ceník LED žárovky - červenec <small>(pdf / 6MB)</small>
                        </h2>
                    </div>
                    <div class="item">
                        <div class="icon">
                            <div>
                                <img src="/images/theme/files/file_pdf.png" alt="Soubor formátu PDF" />
                            </div>
                        </div>
                        <a href="/examples/cenik_led_trubice_cervenec_2016.pdf" class="download fa_a_download">Stáhnout</a>
                        <h2 class="filename">
                            Ceník LED trubice - červenec <small>(pdf / 1MB)</small>
                        </h2>
                    </div>
                </div>
                <p>
                    LED žárovky představují v současnosti nejúspornější technologii osvětlení na trhu. V našem sortimentu naleznete velmi širokou nabídku těchto úsporných LED světelných zdrojů. Můžete pohodlně vybírat z více než 90 různých LED žárovek a LED trubic se všemi běžně používanými paticemi (E14, E27, GU10, MR16, G4, G9, G13…), které Vám nabízíme v mnoha výkonech, s různými vyzařovacími úhly a v různých teplotách barev (teple bílá, neutrální bílá i studená bílá). V našich LED světelných zdrojích používáme pouze kvalitní komponenty předních výrobců, také díky tomu můžeme poskytovat na velkou část našich světelných zdrojů prodlouženou McLED záruku.
                </p>
            </div>
            <div class="col-xs-12 col-md-5 col-xl-3">
                <div class="product_action_sidebox nospace-left">
                    <div class="texts">
                        <h3 class="title">Akce</h3>
                        <p>
                            LED žárovka 10W, E27, 2700K, CRI 80, vyzař. úhel 270, sv. tok 840lm
                        </p>
                        <div class="price_buy">
                            <a [routerLink]="['/']" class="buy"></a>
                            <div class="prices">
                                <div class="old">4 999 Kč</div>
                                <div class="primary">3 999 Kč</div>
                                <div class="secondary">4 499 Kč bez DPH</div>
                            </div>
                        </div>
                    </div>
                    <a class="image">
                        <img src="/images/example/121.255.10_0_L.jpg" alt="" />
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
