<div class="site_subpage_content n-space-top n-space-bottom">
    <h1 class="page_title">Platba</h1>
    <div class="container fluid">
        <div class="row">
            <h2>Hotově</h2><br>
            <p>Při převzetí zboží na na výdejním místě firmy - na adrese McLED s.r.o., Vídeňská 185, 252 42 Vestec</p>
            <br>
            <h2>Dobírkou</h2><br>
            <p>Zboží zaplatíte až při převzetí zboží od přepravce. Celou hodnotu zásilky zaplatíte před převzetím řidiči
                dopravní společnosti poskytující přepravu.</p><br>
            <h2>Platba předem – zálohová faktura</h2><br>
            <p>Po objednání zboží vám přijde na e-mailovou adresu příkaz k úhradě zboží. Při připsání platby na náš účet
                u Komerční banky 6481160247/0100 vám bude zboží odesláno. Připsání platby může dle banky trvat 1 – 3
                pracovní dny.</p>
        </div>
    </div>
</div>