<div class="site_subpage_content n-space-top n-space-bottom">
    <h1 class="page_title">Doprava</h1>
    <div class="container fluid">
        <div class="row">
            <h2>Osobní odběr</h2><br>
            <p>Zboží si můžete osobně vyzvednout na adrese McLED s.r.o., Vídeňská 185, 252 42 Vestec. Toto vyzvednutí je zdarma.</p>
            <h2>Přepravce</h2><br>
            <p>Zboží přepravce doručí po celé České republice na vaši adresu. Cena za tuto službu je 145 Kč s DPH při objednávce nižší jak 2.000 Kč s DPH. Při objednávce vyšší jak 2.000 Kč bez DPH je doprava zdarma.</p>
        </div>
    </div>
</div>