<div class="site_subpage_content n-space-top n-space-bottom">
    <h1 class="page_title">LED průmyslová svítidla</h1>
    <div class="shop_categories_router">
        <div class="item">
            <a [routerLink]="['/led-prumyslova-svitidla-troll']" class="inside">
                <img src="/images/category/prumyslova-svitidla-troll.jpg" alt="Průmyslová svítidla Troll"/>
                <h2>Troll</h2>
            </a>
        </div>
        <div class="item">
            <a [routerLink]="['/led-prumyslova-svitidla-orion']" class="inside">
                <img src="/images/category/prumyslova-svitidla-orion.jpg" alt="Průmyslová svítidla Orion" />
                <h2>Orion</h2>
            </a>
        </div>
        <div class="item">
            <a [routerLink]="['/led-prumyslova-svitidla-gama']" class="inside">
                <img src="/images/category/prumyslova-svitidla-gama.jpg" alt="Průmyslová svítidla Gama" />
                <h2>Gama</h2>
            </a>
        </div>
        <div class="item">
            <a [routerLink]="['/led-prumyslova-svitidla-ledstream']" class="inside">
                <img src="/images/category/prumyslova-svitidla-ledstream.jpg" alt="Průmyslová svítidla LEDstream" />
                <h2>LEDstream</h2>
            </a>
        </div>
        <div class="item">
            <a [routerLink]="['/led-prumyslova-svitidla-ledtec']" class="inside">
                <img src="/images/category/prumyslova-svitidla-ledtec.jpg" alt="Průmyslová svítidla LEDtec" />
                <h2>LEDtec</h2>
            </a>
        </div>
        <div class="item">
            <a [routerLink]="['/led-prumyslova-svitidla-ledpot']" class="inside">
                <img src="/images/category/prumyslova-svitidla-ledpot.jpg" alt="Průmyslová svítidla LEDpot" />
                <h2>LEDpot</h2>
            </a>
        </div>
        <div class="item">
            <a [routerLink]="['/led-prumyslova-svitidla-ledalley']" class="inside">
                <img src="/images/category/prumyslova-svitidla-ledalley.jpg" alt="Průmyslová svítidla LEDalley" />
                <h2>LEDalley</h2>
            </a>
        </div>
        <div class="item">
            <a [routerLink]="['/led-prumyslova-svitidla-ledheaven']" class="inside">
                <img src="/images/category/prumyslova-svitidla-ledheaven.jpg" alt="Průmyslová svítidla LEDheaven" />
                <h2>LEDheaven</h2>
            </a>
        </div>
        <div class="item">
            <a [routerLink]="['/led-prumyslova-svitidla-comet']" class="inside">
                <img src="/images/category/prumyslova-svitidla-comet.jpg" alt="Průmyslová svítidla Comet" />
                <h2>Comet</h2>
            </a>
        </div>
        <div class="item">
            <a [routerLink]="['/led-prumyslova-svitidla-lts']" class="inside">
                <img src="/images/category/prumyslova-svitidla-lts.jpg" alt="Průmyslová svítidla LTS" />
                <h2>LTS</h2>
            </a>
        </div>
        <div class="item">
            <a [routerLink]="['/led-prumyslova-svitidla-prislusenstvi']" class="inside">
                <img src="/images/category/prumyslova-svitidla-prislusenstvi.jpg" alt="Průmyslová svítidla příslušenství" />
                <h2>Příslušenství</h2>
            </a>
        </div>
    </div>
</div>
