<div class="site_subpage_content n-space-top n-space-bottom">
    <h1 class="page_title">Lištové systémy</h1>
    <div class="shop_categories_router">
        <div class="item">
            <a [routerLink]="['/led-interierova-svitidla-listove-systemy-lts']" class="inside">
                <img src="/images/category/led-interierova-svitidla-listove-systemy-lts.jpg" alt="LED interiérová svítidla - lištové systémy LTS"/>
                <h2>LTS</h2>
            </a>
        </div>
    </div>
</div>
